{% extends "forum/base.html" %}

{% block title %}
{{"title"|i18n}}-{{"index"|i18n}}
{% endblock title %}

{% block content %}
<div class="body-content">
    <div class="action_area">
	    <a class="right new-article" href="/p/article/create">{{"write_blog"|i18n}}</a>
        <div style="clear:both;"></div>
    </div>
    
    <div class="article-list-section">
        <!-- <div class="article-list-head head">
		<span>{{"latest_articles"|i18n}}</span>
        </div> -->
        {% if articles | length  == 0 %}
	    <p>{{"no_content"|i18n}}</p>
        {% else %}
        <div class="article-list-container container article-list">
            <ul>
            {% for article in articles %}
                <li>
                    <a href="/article?id={{ article.id }}" class="title">
                        {{ article.title }} - 
                        {{article.section_title}}
                    </a>
                    <span class="right">
                        <!-- <span class="author">{{ article.author_name }}</span>  -->
                        <span class="timestamp ">{{article.created_time | zone8}}</span>
                    </span>
                </li>
            {% endfor %}
            </ul>
        </div>
        {% endif %}
        <div style="clear:both;"></div>
    </div>

    <div class="category-list-section">
        {% if sections | length  == 0 %}
	<p>{{"no_content"|i18n}}</p>
        {% else %}
        <div class="category-list-container container">
            <ul>
            {% for sec in sections %}
                <li>
                    <a href="/section?id={{ sec.id }}">{{ sec.title }}</a>
                </li>
            {% endfor %}
            </ul>
            <div style="clear:both;"></div>
        </div>
        {% endif %}
    </div>
</div>
{% endblock content %}
